<div class="text-center">
    <h1>Elección de funciones de API</h1>
    <h2></h2>
</div>

<div class="row text-center">
    <div class="col-md-4 text-center">
        
    </div>
    <div class="col-md-4 text-center">
        <div class="box">
            <div class="box-content">
                <h1 class="tag-title">Consultar</h1>
                <hr />
                <h4>    <a href="../App/VerConexiones" class="btn btn-lg btn-block btn-primary"> <i class="fa fa-database fa-lg"> </i> Mostrar Servidores </a></h4><br />
               
          
              
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
       
    </div>
</div>



