<div class="">
    <h3>MultiDataBase / Consultar Base de Datos</h3>
    <h4>Uso de función del API (/VerConexiones)</h4>
</div>
<div class="row">
    
    <div class="col-md-12 text-center panel">
       
            <form action="../App/HttpVerConexiones" method="post">
            <div class="panel-heading text-center">
                <a href="../App" type="button" class="btn btn-danger btn-lg pull-left"> <i class="fa fa-arrow-left"></i>Volver </a>
                
                <h2>Crear Nueva Base de Datos</h2>
                <h5>Digite los datos necesarios para crear una nueva base de datos.</h5>
            </div>
            
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-md-12">
                        <select id="db_type" class="text-center input-lg" name="db_type">
                            <option>MySQL</option>
                            <option>SQL</option>
                            <option>Mongo</option>

                        </select>
                       
                        <button type="submit" class="btn btn-primary btn-lg"> Consultar</button>
                        <h2 class="text-danger"> @ViewBag.connections </h2>
                    </div>

                </div>


            </div>
        </form>
        
       
    </div>
    
</div>
<div class="row">
    <pre>
         @ViewBag.lista
</pre>
</div>
